body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;} 
a{text-decoration:none;cursor: pointer;} 
li{list-style:none} 
i{font-style: normal;}
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
img{border:0;display: block;} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfix{
    zoom:1;
} 

/*头部样式*/
.head{
	width: 100%;
	height: 100%;
	border-top: 4px solid #0875d0;
}
.head_center{
	width: 1200px;
	height: 98px;
	margin: 0 auto;
	background: white;
}

/* 左部logo样式*/
.head_left{
	float: left;
	padding-top: 9px;
}
.logo1{
	width: 200px;
	height: 80px;
	background: url(../images/line.png) no-repeat right center;
	padding-right: 1px;
	float: left;
}
.add_box{
	float: left;
	margin-left: 9px;
	margin-top: 18px;
}
.p_add{
	font-size: 18px;
	line-height: 24px;
	color: #737373;
}

/* 右部logo样式*/
.head_right{
	float: right;
}
.head_right_top{
	background: #0875d0;
	height: 24px;
	font-size: 12px;
	color: white;
	line-height: 24px;
	padding-left: 21px;
	padding-right: 8px;
}
.login,.help{
	display: inline-block;
}
.icon_phone{
	display: inline-block;
	width: 18px;
	height: 19px;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 3px;
}
.logo2{
	margin-top: 16px;
	margin-left: 44px;
	width: 257px;
	height: 44px;
}

/*导航样式*/
.nav{
	width: 100%;
	height: 100%;
	background: #0875d0;
}
.nav_center{
	width: 1200px;
	height: 39px;
	margin: 0 auto;
}
.ul_nav{
	float: left;
}
.li_nav{
	float: left;
	padding-left: 48px;
	padding-right: 48px;
}
.li_nav:hover{
	background: #ff9e40;
}
.a_nav{
	font-size: 16px;
	color: white;line-height: 39px;
}

/*banner样式*/
.banner{
	width: 100%;
	height: 100%;
}
.banner_center{
	overflow: hidden;
 	position: relative;
 	width: 100%;
 	height: 432px;
}
.banner_center img{
	position: absolute;
 	width: 1920px;
 	left: 50%;
 	margin-left: -960px;	
 	height: 100%;
}

/*产品介绍样式*/

.introduce{
	width: 100%;
	height: 100%;
}
.introduce_center{
 	width: 1200px;
 	height: 597px;
 	margin: 0 auto;
}
.introduce_head{
	height: 37px;
	font-size: 23px;
	color: #666666;
	line-height: 23px;
	padding-top: 32px;
	border-bottom: 4px solid #eeeeee;
}
.introduce_bottom{
	width: 1200px;
	height: 524px;
	overflow: hidden;
}

/*短线宝样式*/

.dxb_box{
	width: 363px;
	float: left;
}
.dxb_head{
	margin-top: 27px;
}
.icon_zhe{
	width: 29px;
	height: 30px;
	display: inline-block;
}
.s_zhe{
	display: inline-block;
	color: #ff9e40;
	font-size: 19px;
	vertical-align: top;
	margin-top: 3px;
	margin-left: 10px;
	margin-right: 11px;
}
.s_hline{
	display: inline-block;
	width: 244px;
	height: 0px;
	border-bottom: 1px solid #eeeeee;
	vertical-align: top;
	margin-top: 15px;
}
.dxb_bottom{
	width: 363px;
	height: 460px;
	margin-top: 4px;
}
.shu_line{
	width: 0px;
	height: 445px;
	border-left: 1px solid #eeeeee;
	margin-left: 20px;
	margin-top: 79px;
	margin-right: 10px;
	float: left;
}

/*操盘通样式*/

.cpt_box{
	width: 796px;
	height: 524px;
	float: right;
}
.cpt_head{
	margin-top: 27px;
}
.icon_zhe{
	width: 29px;
	height: 30px;
	display: inline-block;
}
.s_cpt{
	display: inline-block;
	color: #ff9e40;
	font-size: 19px;
	vertical-align: top;
	margin-top: 3px;
	margin-left: 10px;
	margin-right: 11px;
}
.s_hline2{
	display: inline-block;
	width: 677px;
	height: 0px;
	border-bottom: 1px solid #eeeeee;
	vertical-align: top;
	margin-top: 15px;
}

/*老师列表样式*/

.cpt_bottom_teacherlist{
	margin-top: 20px;
	width: 224px;
	height: 210px;
}
.cpt_bottom_teacherlist2{
	margin-top: 23px;
}
.teacherlist_top{
	width: 224px;
	height: 157px;
}
.teacherlist_bottpm{
	position: relative;
	top: -12px;
	left: 10px;
}
.t_in_box{
	width: 132px;
	height: 35px;
	background: #0875d0;
	float: left;
	border-bottom: 3px solid #a1d6ff;
	margin-right: 10px;
}
.p_t_left{
	float: left;
	font-size: 18px;
	line-height: 35px;
	color: white;
	margin-left: 5px;
	margin-right: 7px;
}
.p_t_right{
	float: left;
	font-size: 12px;
	color: #cee3f6;
	line-height: 14px;
    margin-top: 4px;
}
.djck{
	font-size: 11px;
	color: #3991d9;
	line-height: 42px;
	background: url(../images/icon_arrow.png) no-repeat right center;
	padding-right: 20px;
}
.p_sxkh{
	font-size: 16px;
	color: #666666;
	text-align: center;
	line-height: 16px;
	margin-top: 6px;
}
.cpt_bottom1{
	float: left;
}
.cpt_bottom2{
	float: left;
	margin-left: 10px;
}
.cpt_bottom3{
	width: 329px;
	height: 446px;
	float: right;
	margin-top: 20px;
}

/*股商智投app样式*/
.app{
	width: 100%;
	height: 100%;
}
.app_center{
	overflow: hidden;
 	width: 1200px;
 	height: 300px;
 	margin: 60px auto;
 	background: #f2f2f2;
}
.app_left{
	margin-top: 46px;
	margin-left: 86px;
	float: left;
}
.p_gszt{
	font-size: 44px;
	color: #188ac9;
	line-height: 44px;
}
.p_sstj{
	color: #00a0ce;
	font-size: 24px;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 23px;
}
.btn2{
	display: block;
	width: 313px;
	height: 61px;
	margin-top: 5px;
}
.app_right{
	width: 485px;
	height: 258px;
	float: right;
	margin-right: 95px;
	margin-top: 26px;
	background: url(../images/code_bk.png);
}
.code{
	width: 186px;
	height: 186px;
	margin-top: 9px;
	margin-left: 156px;
}
.p_down{
	color: #656565;
	font-size: 21px;
	text-align: center;
	margin-top: 29px;
	line-height: 21px;
}
.s_down{
	color: #00a0ce;
	cursor: pointer;
}


.popularity_center{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.popularity_head{
	height: 36px;
	font-size: 23px;
	color: #666666;
	line-height: 23px;
	border-bottom: 4px solid #eeeeee;
}
.slide{
	margin-top: 55px;
	margin-bottom:78px ;
}
.ul_popularity{
	overflow: hidden;
	width: 1600px;
	float: left;
}
.ul_box{
	width: 1120px;
	overflow: hidden;
	float: left;
}
.li_popularity{
	width: 156px;
	float: left;
	margin: 0px 2px;
	overflow: hidden;
}
.li_popularity:hover .p_gjds{
	color: white;
	background: #0875d0;
}
.li_popularity:hover .portrait{
	background: url(../images/circle_bk2.png) no-repeat center top;
}
.li_popularity:hover .triangle{
	border-bottom: 8px solid #0875d0;
}

.triangle_box{
	width: 16px;
	margin: -7px auto 0px auto;
}
.triangle{
	display: block;
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid transparent;
}
.portrait{
	width: 156px;
	height: 156px;
	background: url(../images/circle_bk1.png) no-repeat center top;
	overflow: hidden;
}
.portrait_img{
	width: 136px;
	height: 136px;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 10px;
	overflow: hidden;
}
.p_gjds{
	font-size: 13px;
	color: #666666;
	line-height: 22px;
	width: 140px;
	padding: 8px;
	margin:0 auto;
}
.r_arrow{
	width: 35px;
	height: 70px;
	float: right;
	margin-top: 48px;
}
.l_arrow{
	width: 35px;
	height: 70px;
	float: left;
	margin-top: 48px;
}

/*友情链接*/
.lianjie{
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	border-bottom: 1px solid white;
}
.lianjie_center{
	width: 1200px;
	height: 39px;
	margin: 0 auto;
	text-align: center;
}
.ul_lj{
	display: inline-block;
}
.li_lj{
	float: left;
}
.a_lj{
	font-size: 12px;
	color: #666666;
	line-height: 39px;
}

/*版权所有*/

.banquan{
	width: 100%;
	height: 100%;
	background: #f8f7f7;
	border-top: 1px solid #e7e5e6;
}
.banquan_center{
	width: 1200px;
	height: 117px;
	margin: 0 auto;
	overflow: hidden;
}
.p_banquan{
	color: #7f7f7f;
	font-size: 12px;
	line-height: 18px;
	margin-top: 40px;
}
.banquan_left{
	float: left;
}
.banquan_right{
	float: right;
	margin-right: 18px;
	margin-top: 34px;
}
.tel_box{
	width: 62px;
	height: 37px;
	float: left;
}
.numbox{
	float: right;
	margin-left: 9px;
}
.p_num1{
	font-size: 18px;
	color: #afafaf;
}
.p_num2{
	font-size: 12px;
	color: #a8a8a8;
}

/*footer*/

.footer{
	width: 100%;
	height: 100%;
	background: #0875d0;
}
.footer_center{
	width: 1200px;
	height: 36px;
	margin: 0 auto;
	text-align: center;
}
.ul_footer{
	display: inline-block;
}
.li_footer{
	float: left;
}
.li_footer a{
	font-size: 12px;
	color: white;
	line-height: 36px;
}
