*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../images/userbk.png) no-repeat ;
	width: 100%;
	height: 100%;
	background-size: cover;
}
.box{
	overflow: hidden;
}
.head{
	height: 1.91rem;
	width: 100%;
	margin-top: 1.375rem;
}
.head .logo{
	width: 6.56rem;
	height: 1.91rem;
	float: left;
	margin-left: 1.41rem;
	margin-right: 1.25rem;
}
.p_service{
	line-height: 1.91rem;
	font-size: 0.56rem;
	color: #fff;
}
.head .logo img{
	width: 100%;
	height: 100%;
	display: block;
}
.center,.centers{
	margin-left:1.56rem ;
	margin-right:1.72rem;
	position: relative;
}
.center{
	margin-top:1.5rem ;
	margin-bottom: 1.69rem;
}
.centers{
	margin-top: 2.94rem;
	margin-bottom: 2.44rem;
}
.centers img{
	width: 100%;
	height: 100%;
	display: block;
}
.center img{
	width: 100%;
	height: 100%;
	display: block;
}
.footer img{
	width: 100%;
	height:100%;
	display: block;
}

.close{
	position: absolute;
	right: 1rem;
	top: 6.88rem;
}
.close img{
	width: 50%;
	height: 50%;
	display: block;
}
.closes{
	position: absolute;
	right: 1rem;
	top: 3.25rem;
}
.closes img{
	width: 50%;
	height: 50%;
	display: block;
}