*{
	margin: 0;
	padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
img{
	display: block;
	width: 100%;
	height: 100%;
}
li{
	list-style: none;
}
i{
	font-style: normal;
}

/*头部样式*/
.head{
	width: 100%;
	height: 100%;
	background: url(../images/head-bk_01.jpg) no-repeat center top;
}
.head-center{
	height: 1011px;
	width: 1000px;
	margin: 0 auto;
	padding-top: 25px;
	position: relative;
}
.logo-box{
	font-size: 22px;
	line-height: 37px;
	color: white;
	margin-left: -8px;
}
.icon-logo{
	width: 34px;
	height: 37px;
	display: inline-block;
	vertical-align: middle;
}

.jhss-box{
	width: 807px;
	height: 200px;
	margin-top: 112px;
	margin-left: 157px;
}
.head-img2-box{
	width: 725px;
	height: 61px;
	margin-top: 52px;
	margin-left: 162px;
}
.p-gsy{
	font-size: 29px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 65px;
	letter-spacing: 8px;
}
.head-tel-box{
	width: 602px;
	height: 101px;
	background: url(../images/head-tel.png);
	margin-top: 50px;
	margin-left: 203px;
	font-size: 40px;
	text-align: center;
	color: #824527;
	line-height: 101px;
}
.dragon-box{
	width: 930px;
	height: 226px;
	margin-top: 23px;
	margin-left: 34px;
	position: absolute;
}
.circlebox{
	width: 192px;
	height: 128px;
	background: url(../images/head-circle.png) no-repeat;
	position: absolute;
	text-align: center;
	font-size: 32px;
	color: white;
	padding-top: 64px;
}
.circle1{
	top: 0;
	left: 0;
}
.circle2{
	bottom: 0;
	left: 368px;
}
.circle3{
	top: 0;
	right: 0;
}
.circlebox .circle-p{
	font-size: 13px;
	color: white;
	letter-spacing: 4px;
	font-weight: 400;
	margin-top: 8px;
}

/*擒龙战法样式*/
.qlzf{
	width: 100%;
	height: 100%;
	background: url(../images/ql-bk.jpg) no-repeat center top;
}
.qlzf-center{
	height: 828px;
	width: 1000px;
	margin: 0 auto;
}
.qlzf-head{
	height: 86px;
}
.ql-headimg{
	float: left;
	margin-left: 200px;
	width: 588px;
	height: 78px;
	border: 4px solid #fec523;
	background: url(../images/head-title-bk.png) no-repeat center bottom #2b2052;
}
.ql-headimg-left{
	width: 44px;
	font-size: 12px;
	color: #ffd800;
	text-align: center;
	margin-left: 142px;
	margin-top: 20px;
	float: left;
}
.ql-headimg-right{
	font-size: 40px;
	color: #fec523;
	float: right;
	line-height: 78px;
	margin-right: 197px;
}
.ql-headimg-left .head-icon{
	width: 20px;
	height: 24px;
	display: block;
	margin: 0 auto;
}
.qlzf-head .i-btn{
	width: 200px;
	height: 50px;
	display: inline-block;
	float: right;
	margin-right: -14px;
	margin-top: 20px;
}
.ql-video{
	width: 1075px;
	height: 638px;
	position: relative;
	margin-top: 24px;
}
.ql1box{
	width: 1075px;
	height: 638px;
	position: absolute;
	top: 0px;
	left: -40px;
}
.ql2box{
	width: 1000px;
	height: 560px;
	position: absolute;
	top: 39px;
	left: 0px;
}
.ql3box{
	width: 85;
	height: 85px;
	display: block;
	position: absolute;
	top: 243px;
	left: 438px;
}
/* 寻龙战法样式*/
.xlzf{
	width: 100%;
	height: 100%;
	background: url(../images/xl-bk.png) no-repeat center top;
}
.xlzf-center{
	height: 571px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.xlzf-left{
	position: absolute;
	margin-top: 73px;
}
.xlzf-left .xl1-box{
	width: 500px;
	height: 294px;
}
.xlzf-left .xl2-box{
	position: absolute;
    width: 466px;
    height: 259px;
    top: 19px;
    left: 18px;
}
.xlzf-left .xl3-box{
	position: absolute;
    width: 85px;
    height: 85px;
    top: 100px;
    left: 200px;
}
.xlzf-right{
	width: 452px;
	height: 238px;
	position: absolute;
	right: 0;
	bottom: 149px;
}
.xlzf-right-h .xlzf-right-i{
	display: inline-block;
	width: 202px;
	height: 62px;
	background: url(../images/xl3.png);
}
.xlzf-right-h .xlzf-right-s{
	display: inline-block;
	vertical-align: top;
	margin-top: 18px;
	margin-right: 22px;
	font-size: 24px;
	color: white;
}
.xlzf-right .xlzf-right-p{
	margin-top: 36px;
	font-size: 18px;
	line-height: 28px;
	color: white;
}
.xlzf-right .xlzf-right-a{
	width: 200px;
	height: 50px;
	display: block;
	margin-top: 28px;
	margin-left: 3px;
}

/* 天龙战法样式*/

.tlzf{
	width: 100%;
	height: 100%;
	background: url(../images/tl-bk.png) no-repeat center top;
}
.tlzf-center{
	height: 556px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.tl-head{
	width: 588px;
	height: 78px;
	margin: 0 auto;
	border: 4px solid #fec523;
	font-size: 40px;
	color: #fec523;
	text-align: center;
	line-height: 78px;
	background: url(../images/head-title-bk.png) no-repeat center bottom;
}
.tl-left{
	width: 467px;
	height: 281px;
	margin-top: 73px;
	padding-left: 33px;
	padding-top: 14px;
}
.tl-left .tl-left-p1{
	font-size: 23px;
	color: white;
}
.tl-left .tl-left-img1{
	width: 411px;
	height: 64px;
	margin-top: 16px;
}
.tl-left .tl-left-p2{
	font-size: 17px;
	color: white;
	line-height: 28px;
	margin-top: 30px;
	margin-bottom: 16px;
}
.tl-left-b{
	height: 50px;
}
.tl-left .tl-left-a{
	width: 200px;
	height: 50px;
	display: inline-block;
}
.tl-left .tl-left-s{
	vertical-align: top;
	font-size: 16px;
	color: #c5c3d0;
	line-height: 50px;
	display: inline-block;
	margin-left: 45px;
	cursor: pointer;
}
.tl-right{
	width: 500px;
	height: 295px;
	position: absolute;
	right: 0;
	top: 160px;
}
.tl-right .tl-right-img1{
	width: 500px;
	height: 295px;
}
.tl-right .tl-right-img2{
	width: 463px;
	height: 259px;
	position: absolute;
	right: 16px;
	top: 19px;
}
.tl-right .tl-right-img3{
	width: 85px;
	height: 85px;
	position: absolute;
	right: 212px;
	top: 106px;
}

/*底部样式*/

.footer{
	width: 100%;
	height: 100%;
	background: url(../images/footer-bk.jpg) no-repeat center top;
}
.footer-center{
	height: 731px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	position: relative;
}
.footer-img1{
	width: 132px;
	height: 141px;
	margin: 0 auto;
}
.footer-p1{
	font-size: 33px;
	color: white;
	text-align: center;
	margin-top: 24px;
}
.footer-p2{
	font-size: 90px;
	color: white;
	margin-top: 28px;
	margin-left: -42px;
	font-weight: bold;
	margin-bottom: 50px;
}
.footer-tel{
	background: url(../images/footer-img1.png) no-repeat;
	width: 759px;
	height: 78px;
	margin-left: -20px;
	font-size: 40px;
	text-align: center;
	line-height: 78px;
	color: #743813;
}
.gift{
	width: 265px;
	height: 261px;
	position: absolute;
	right: -116px;
	top: 222px;
}
