*{
	margin: 0;
	padding: 0;
}
img{
	display: block;
}
li{
	list-style: none;
}
i{
	font-style: normal;
}
a{
	text-decoration: none;
}
.boxCenter{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.xxm_header{
	background: black;
	height: 60px;
}
.xxm_header .logoBox img{
	float: left;
	margin-left: 100px;
	margin-top: 9px;
}

.xxm_header .logoBox span{
	color: white;
	font-size: 22px;
	line-height: 60px;
	float: left;
	margin-right: 70px;
	margin-left: 11px;
}
.xxm_header ul{
	float: left;
}
.xxm_header ul li{
	float: left;
	line-height: 60px;
}
.xxm_header ul li a{
	color: white;
	font-size: 15px;	
	padding: 10px 15px;
}
.xxm_header ul li a:hover{
	color: black;
	background: white;
	border-radius: 5px;
}
.loginBox{
	float: right;
	margin-right: 90px;
}
.loginBox a{
	color: white;
	font-size: 15px;
	line-height: 60px;
	padding: 0 27px;
}
.banner{
	height: 570px;
 	background: url(../images/bannerBk.jpg) no-repeat;
}
.xxmBox{
	width: 416px;
	height: 0px;
	padding-top: 84px;
}
.bannerRBox{
	width: 785px;
	height: 485px;
	float: right;
}
.bannerRBox .teacher_name{
	font-size: 60px;
	font-weight: 600;
	color: #030b32;
	height: 80px;
	text-align: right;
}
.bannerRBox .teacher_name span{
	font-size: 36px;
	font-weight: 600;
	color: #ad5037;
	margin-left: 16px;
}
.bannerRBox p:nth-of-type(1){
	text-align: right;
	font-size: 20px;
	color: #a2a2a9;
	letter-spacing: 3px;
}
.bannerRBox p:nth-of-type(2){
	text-align: right;
	font-size: 96px;
	/*color: #140a9c;*/
	font-weight: 600;
	background: linear-gradient(to bottom, #140a9c, #040b38);
    -webkit-background-clip: text;
    color: transparent;
}
.numberOne{
	width: 681px;
	height: 51px;
	border-radius: 5px;
	background: #e7e7e9;
	margin: 26px 0 26px 52px;
	color: #6a6a6b;
	font-size: 13px;
	padding-top: 22px;
	padding-left: 27px;
}
.redBox{
	width: 725px;
	height: 75px;
	background: #e80909;
	margin-left: 59px;
	padding-top: 11px;
}
.whiteBox{
	width: 444px;
	height: 65px;
	background: #fff;
	margin-left: 12px;
	font-size: 31px;
	line-height: 65px;
	text-align: center;
	color: #e80909;
	font-weight: 600;
	float: left;
}
.redBox span{
	float: right;
	font-size: 31px;
	line-height: 65px;
	color: #fff;
	font-weight: 600;
	margin-right: 16px;
}
.first-rate{
	background: url(../images/first-rate-bk_02.jpg);
	/*height: 1202px;*/
	padding-top: 38px;
	overflow: hidden;
}
.first-rate .boxCenter h2{
	text-align: center;
	font-size: 56px;
	color: white;
	font-weight: 300;
	margin-bottom: 38px;
}
.first-rate .boxCenter .p1{
	text-align: center;
	font-size: 21px;
	color: white;
}
.all-weather{
	width: 218px;
	height: 62px;
	font-weight: 600;
	border-radius: 10px;
	background: white;
	color: #3b2fdc;
	font-size: 23px;
	text-align: center;
	line-height: 62px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.directBox{
	height: 235px;
	position: relative;
}
.directBox img{
	position: absolute;
	left: -21px;
	top: 34px;
}
.directBox span{
	color: white;
	font-size: 20px;
}
.directBox span:nth-of-type(1){
	position: absolute;
	top: 0;
	left: 100px;
}
.directBox span:nth-of-type(2){
	position: absolute;
	top: 0;
	left: 490px;
}
.directBox span:nth-of-type(3){
	position: absolute;
	top: 0;
	right: 64px;
}
.directBox span:nth-of-type(4){
	position: absolute;
	bottom: 0;
	left: 254px;
}
.directBox span:nth-of-type(5){
	position: absolute;
	bottom: 0;
	right: 333px;
}
.directBox span:nth-of-type(6){
	position: absolute;
	bottom: 0;
	right: 0;
}
.cardiogramBox{
	position: relative;
	margin-top: -66px;
	height: 500px;
	background: url(../images/cardiogramBk.jpg);
}
.cardiogramBoxLeft img:nth-of-type(1){
	position: absolute;
	left: 239px;
	top: 141px;
	z-index: 1;
}
.cardiogramBoxLeft img:nth-of-type(2){
	position: absolute;
	left: 177px;
	top: 138px;
	z-index: 2;
}
.cardiogramBoxLeft img:nth-of-type(3){
	position: absolute;
	left: 137px;
	top: 121px;
	z-index: 3;
}
.cardiogramBoxRight img{
	position: absolute;
	right: 153px;
	top: 113px;
}
.free{
	position: absolute;
	width: 215px;
	height: 60px;
	border: 1px solid white;
	border-radius: 10px;
	top: 219px;
	right: 313px;
	font-size: 23px;
	line-height: 60px;
	text-align: center;
	color: white;
}
.double_line{
	height: 80px;
	position: relative;
	margin-top: 19px;
}
.double_line img{
	position: absolute;
	left: -90px;
}

.extrudeBox{
	height: 620px;
	position: relative;
	z-index: 10;

}
.extrudeBox img:nth-of-type(1){
	position: absolute;
	left: -260px;
}
.extrudeBox img:nth-of-type(2){
	position: absolute;
	left: -32px;
	top: 254px;
}
.extrudeBox img:nth-of-type(3){
	position: absolute;
	left: -40px;
	bottom: 45px;
}
.extrudeBox img:nth-of-type(4){
	position: absolute;
	right: -34px;
	top: 196px;
}
.extrudeBox img:nth-of-type(5){
	position: absolute;
	right: 167px;
	bottom: 26px;
}
.extrudeBox img:nth-of-type(6){
	position: absolute;
	right: 80px;
	bottom: 65px;
}
.extrudeBox img:nth-of-type(7){
	position: absolute;
	right: -33px;
	bottom: 97px;
}
.extrudeBox img:nth-of-type(8){
	position: absolute;
	left: 250px;
	top: 90px;
}
.onefont{
	position: absolute;
	bottom: 147px;
	left: 244px;
}
.twofont{
	position: absolute;
	bottom: 170px;
	right: 260px;
}
.threefont{
	position: absolute;
	top: 202px;
	right: 260px;
}
.fourfont{
	position: absolute;
	top: 283px;
	left: 250px;
}
.font h3{
	color: white;
	font-size: 20px;
	margin-bottom: 8px;
}
.font p{
	color: white;
	font-size: 13px;
	line-height: 20px;
	margin-left: 28px;
}
.extrudeBox .lthjxbtn{
	position: absolute;
	top: 51px;
	left: 490px;
	width: 217px;
	height: 62px;
	font-weight: 900;
	color: #3b30dc;
	line-height: 62px;
	text-align: center;
	background: white;
	border-radius: 10px;
}

/*精品课程样式*/

.competitive{
	height: 1078px;
	background: white;
}
.competitive h2{
	font-size: 40px;
	color: #000;
	text-align: center;
	font-weight: 400;
	margin-top: 58px;
	margin-bottom: 116px;
}
.classBox{
	height: 402px;
	position: relative;
}
.classBoxTop{
	height: 315px;
	background: #feaf62;
	border-radius:10px 10px 0 0 ;
}

/*半年课*/

.classBoxTop .halfYear{
	width: 250px;
	height: 306px;
	background: #ffeec8;
	position: absolute;
	border-radius: 10px;
	left: 186px;
	top: -56px;
}
.classBoxTop .halfYear .halfYearTop{
	height: 68px;
	width: 250px;
	line-height: 58px;
	color: #888;
	font-size: 24px;
	text-align: center;
	font-weight: 900;
}
.classBoxTop .halfYear .halfYearMiddle{
	width: 250px;
	height: 111px;
	background: #fff1d4;
	position: absolute;
}
.classBoxTop .halfYear .halfYearMiddle img{
	position: absolute;
	top: 26px;
	left: 22px;
}
.classBoxTop .halfYear .halfYearMiddle span:nth-of-type(1){
	position: absolute;
	top: 26px;
	right: 24px;
	font-size: 16px;
	color: #888888;
	text-decoration:line-through
}
.classBoxTop .halfYear .halfYearMiddle span:nth-of-type(2){
	position: absolute;
	bottom: 28px;
	right: 81px;
	font-size: 26px;
	color: #f24a41;
}
.classBoxTop .halfYear .halfYearMiddle span:nth-of-type(3){
	position: absolute;
	bottom: 34px;
	right: 24px;
	font-size: 16px;
	color: #f24a41;
}
.classBoxTop .halfYear .halfYearBottom{
	 position: absolute;
	 margin-top: 111px;
}
.ljbtn{
	position: absolute;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background: #f75644;
	top: 35px;
	left: 19px;
	line-height: 50px;
	font-size: 22px;
	text-align: center;
	color: white;
}

/*年课*/

.classBoxTop .year{
	width: 337px;
	height: 355px;
	background: #f5f5f5;
	position: absolute;
	left: 436px;
	border-radius: 10px;
	top: -80px;
}

.classBoxTop .year .yearTop{
	height: 58px;
	width: 337px;
	padding-top: 20px;
}
.classBoxTop .year .yearTop p:nth-of-type(1){
	color: #888;
	font-size: 24px;
	text-align: center;
	font-weight: 900;
	margin-bottom: 7px;
}
.classBoxTop .year .yearTop p:nth-of-type(2){
	color: #ff0000;
	font-size: 12px;
	text-align: center;
}
.classBoxTop .year .yearMiddle{
	width: 337px;
	height: 128px;
	background: #f7f7f7;
	position: absolute;
}
.classBoxTop .year .yearMiddle p{
	font-size: 12px;
	color: #888;
	text-align: center;
}
.classBoxTop .year .yearMiddle img{
	position: absolute;
	top: 38px;
	left: 61px;
}
.classBoxTop .year .yearMiddle span:nth-of-type(1){
	position: absolute;
	top: 38px;
	right: 60px;
	font-size: 16px;
	color: #888888;
	text-decoration:line-through
}
.classBoxTop .year .yearMiddle span:nth-of-type(2){
	position: absolute;
	bottom: 28px;
	right:118px;
	font-size: 26px;
	color: #f24a41;
}
.classBoxTop .year .yearMiddle span:nth-of-type(3){
	position: absolute;
	bottom: 34px;
	right: 60px;
	font-size: 16px;
	color: #f24a41;
}
.classBoxTop .year .yearBottom{
	 position: absolute;
	 margin-top: 128px;
}

.ljbtn2{
	position: absolute;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background: #f75644;
	top: 20px;
	left: 68px;
	line-height: 50px;
	font-size: 22px;
	text-align: center;
	color: white;
}
.yearBottom p{
	font-size: 12px;
	color: #888;
	margin-left: 62px;
	margin-top: 84px;
}

/*月课*/

.classBoxTop .month{
	width: 250px;
	height: 306px;
	background: #fff9e3;
	position: absolute;
	border-radius: 10px;
	right: 177px;
	top: -56px;
}
.classBoxTop .month .monthTop{
	height: 68px;
	width: 250px;
	line-height: 58px;
	color: #888;
	font-size: 24px;
	text-align: center;
	font-weight: 900;
}
.classBoxTop .month .monthMiddle{
	width: 250px;
	height: 111px;
	background: #fff9e6;
	position: absolute;
}
.classBoxTop .month .monthMiddle img{
	position: absolute;
	top: 26px;
	left: 22px;
}
.classBoxTop .month .monthMiddle span:nth-of-type(1){
	position: absolute;
	top: 26px;
	right: 24px;
	font-size: 16px;
	color: #888888;
	text-decoration:line-through
}
.classBoxTop .month .monthMiddle span:nth-of-type(2){
	position: absolute;
	bottom: 28px;
	right: 81px;
	font-size: 26px;
	color: #f24a41;
}
.classBoxTop .month .monthMiddle span:nth-of-type(3){
	position: absolute;
	bottom: 34px;
	right: 24px;
	font-size: 16px;
	color: #f24a41;
}
.classBoxTop .month .monthBottom{
	 position: absolute;
	 margin-top: 111px;
}

.classBoxBottom{
	height: 87px;
	background: white;
	border-radius:0px 0px 10px 10px ;
}
.classBoxBottom span{
	font-size: 12px;
	color: #888;
	line-height: 87px;
}
.classBoxBottom span:nth-of-type(1){
	margin-left: 114px;
	margin-right: 165px;
}
.classBoxBottom span:nth-of-type(2){
	background: url(../images/phone_03.jpg) no-repeat 0 center;
	padding-left: 20px;
	margin-right: 20px;
}
.classBoxBottom span:nth-of-type(3){
	background: url(../images/person_05.jpg) no-repeat 0 center;
	padding-left: 20px;
}
.classBoxBottom span:nth-of-type(4) a{
	color: red;
}
.classBox h1{
	font-size: 40px;
	text-align: center;
	font-weight: 300;
	margin-top: 40px;
	margin-bottom: 40px;
}
table{
	border-collapse:collapse;
}
table td{
	border: 1px solid #edf1f2;
	color: #848484;
	font-size: 16px;
	text-align: center;
}
table tr:nth-of-type(1){
	height: 50px;
}
table tr:nth-of-type(1) td{
	padding-left: 24px;
	padding-right: 24px;
}
table tr:nth-of-type(2){
	height: 80px;
}
table tr:nth-of-type(3){
	height: 80px;
}
table tr td:nth-of-type(1){
	width: 150px;
}
td img{
	margin: auto;
}
.ordinary{
	width: 157px;
	height: 48px;
	background: #edf1f2;
	margin: auto;
	line-height: 48px;
	color: black;
}
.vip{
	width: 157px;
	height: 48px;
	background: #feaf62;
	margin: auto;
	line-height: 48px;
	color: white;
}

.vipBox .boxCenter{
	border-top: 3px solid #4a3ed5;
}
.tab-btn{
	height: 100px;
}
.tab-btn a{
	display: block;
	width: 300px;
	height: 100px;
	float: left;
	line-height: 100px;
	text-align: center;
}
.active1{
	background: #4a3ed5;
	color: white!important;
}
.tab-d .tab-mid.active {
    display: block;
}
.tab-d .tab-mid {
    display: none;
}
.five{
	position: relative;
	height: 940px;
	border-bottom: 2px solid #f3f3f3;
}

.fiveline{
	position: absolute;
	top: 487px;
	left: 100px;
}
.tab-d .fiveCom:nth-of-type(1) {
    position: absolute;
    top: 338px;
    left: 89px;
    border: 5px solid #d4d3d3;
    border-radius: 10px;
}
.tab-d .fiveCom:nth-of-type(2) {
    position: absolute;
    top: 338px;
    left: 300px;
    border: 5px solid #d4d3d3;
    border-radius: 10px;
}
.tab-d .fiveCom:nth-of-type(3) {
    position: absolute;
    top: 338px;
    left: 512px;
    border: 5px solid #d4d3d3;
    border-radius: 10px;
}
.tab-d .fiveCom:nth-of-type(4) {
    position: absolute;
    top: 338px;
    right: 300px;
    border: 5px solid #d4d3d3;
    border-radius: 10px;
}
.tab-d .fiveCom:nth-of-type(5) {
    position: absolute;
    top: 338px;
    right: 89px;
    border: 5px solid #d4d3d3;
    border-radius: 10px;
}
.five span{
	color: #c7000b;
	font-size: 30px;
}
.five span:nth-of-type(1){
	position: absolute;
	top: 290px;
	left: 145px;
}
.five span:nth-of-type(2){
	position: absolute;
	top: 290px;
	left: 360px;
}
.five span:nth-of-type(3){
	position: absolute;
	top: 280px;
	left: 523px;
	color: white;
	background: #c7000b;
	border-radius: 10px;
	padding: 5px;
}
.five span:nth-of-type(4){
	position: absolute;
	top: 290px;
	right: 360px;
}
.five span:nth-of-type(5){
	position: absolute;
	top: 290px;
	right: 145px;
}
.vipsys{
	width: 487px;
	height: 72px;
	background: #cccccc;
	position: absolute;
	top: 567px;
	left: 357px;
	color: #c7000b;
	line-height: 72px;
	font-weight: 900;
	text-align: center;
	font-size: 42px;
}
.five p{
	position: absolute;
	top: 700px;
	left: 216px;
	font-size: 25px;
	color: black;
}
.tab-d a:nth-of-type(1){
	position: absolute;
	top: 765px;
	left: 340px;
	color: #c7000b;
	background: #f6f6f6;
	font-size: 40px;
	font-weight: 900;
	padding: 8px 45px;
}
.tab-d a:nth-of-type(2){
	position: absolute;
	top: 765px;
	left: 591px;
	color: #fff;
	background: #c7000b;
	font-size: 40px;
	font-weight: 900;
	padding: 8px 45px;
}
.tab-d .xxm3{
	position: absolute;
	bottom: -75px;
	left: 19px;
}

.catalog h1{
	margin-left: 180px;
	margin-top: 22px;
	font-size: 38px;
	color: black;
}
.catalogBox{
	margin-bottom: 1px;
}
.firstCatalogBox{
	margin-top: 20px;
}
.catalogTop{
	margin-left: 100px;
}
.catalogTop span:nth-of-type(1){
	display: inline-block;
	width: 87px;
	height: 33px;
	background: #edebfb;
	color: black;
	font-size: 17px;
	line-height: 33px;
	text-align: center;
	margin-right: 2px;
}
.catalogTop span:nth-of-type(2){
	display: inline-block;
	width: 825px;
	height: 33px;
	background: #edebfb;
	color: black;
	font-size: 17px;
	line-height: 33px;
}
.catalogTop span:nth-of-type(3){
	display: inline-block;
	width: 80px;
	height: 33px;
	background: #edebfb;
	color: black;
	font-size: 17px;
	line-height: 33px;
	text-align: center;
	cursor: pointer;
}
.catalogTop span:nth-of-type(4){
	display: inline-block;
	width: 80px;
	height: 33px;
	background: #edebfb;
	color: black;
	font-size: 17px;
	line-height: 33px;
	text-align: center;
	cursor: pointer;
}
.catalog_hide p{
	margin-left: 200px;
	font-size: 14px;
	color: black;
	line-height: 25px;
}
